body {
	width: 1280px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.screenshots {
	padding: 50px 50px 20px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.screenshots-wrapper figure {
	width: 580px
}

.figure-img {
	display: block;
	width: 200px;
	height: 150px;
	background-color: #445161;
}


.screenshots-figure-caption {
	width: 359px
}

.w-100 {
	width: 100%!important;
}

.color-white {
	color: #fff!important;
}



.left {
	float: left;
}

.right {
	float: right;
}

.main-header {
	background-color: #445060;
	padding: 30px;
	box-sizing: border-box;
	height:323px
}



.main-header-wrapper ul {
	list-style: none;
	margin: 0;
	position: relative;
}

.main-header-wrapper ul li {
	position: relative;
	padding: 0 0 0 20px;
}

.main-header-wrapper ul li:before {
	content: "✓";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 5px;
}

.about {
	background-color: #445060;
	box-sizing: border-box;
	height:342px
}



.about-wrapper {
	list-style: none;
	margin: 0;
	position: relative;
	width: 653px;
	height: 201px;
}

.main-header-wrapper ul li {
	position: relative;
	padding: 0 0 0 20px;
}

.main-header-wrapper ul li:before {
	content: "✓";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 5px;
}